@model HandleErrorInfo

@{
    ViewBag.Title = "Sorry, some errors have just happened";
}

<h1>Library.App Error Page</h1>

@using (Html.BeginForm("MainMenuHandler", "Entrance"))
{
    <fieldset>
        <legend>
            Error value.
            <b>@(((ArgumentException)Model.Exception).Message)</b>

        </legend>
     </fieldset>
}