@{
    Layout = null;
}

<h1>Add new book to library</h1>
<h2>Step 3</h2>

@using (Html.BeginForm("MenuLibrarian", "Entrance"))
{
    <fieldset>
        <legend>Information about book was added successfully!</legend>

        <input type="submit" value="OK" />
    </fieldset>
}
